* {
    font-family: "Roboto", sans-serif;
    /* border: 1px solid gold; */
}

img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    border: 5px solid #3882F6;
    border-radius: 24px;

    
}

.hero-image {
    object-fit: cover;
    height: 250px;
    width: 450px;
    object-position: 100% 20%;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.title, .hero-main, .button-sign-up, .sign-up-call {
    color: #F9FAF8;
}

.header-links, .hero-subtext, .sign-up-subtext, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

.card-subtext {
    color:darkgray;
    font-size: 18px;
}



.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.card-header {
    color: #1F2937;
    font-size: 36px;
    font-weight:bolder;
}

.quote-author {
    color:#1F2937;
    font-size: 18px;
    font-weight: bold;

}

button, .sign-up-section {
    background-color: #3882F6;

}

button {
    padding: 9px 20px;
    border: none;
    border-radius: 8px;
    flex: none;
    max-width: 125px;
    color:#F9FAF8;
    font-size: 18px;
    font-weight: bold;
    
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.container, .link-container {
    display: flex;
}

.title, .sign-up-call {
    font-size: 24px;
    font-weight: bolder;
}

.title {
    font-weight: bolder;
}

.header-container, .footer {
    background-color: #1F2937;
}

.header-container {
    flex-direction: column;
    padding: 0 125px 85px;
   
}

.link-container {
    margin: 10px 0;
    padding: 0px;
    gap: 20px;
}

.header-link-container {
    justify-content: space-between;
 
}

.header-main-container {
    margin-top: 70px;
    gap: 25px;   
    flex: auto;
    justify-content: space-between;    

}

.header-text-container {
    flex-flow: column wrap;
    max-width: 1000px;
    gap: 10px;
}

.card-section-container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card-header {
    padding: 45px;

}

.card-container {
    justify-content: center;
    text-align: center;
    gap: 80px;
    margin-bottom: 126px;
    flex-wrap: wrap;
}

.card {
    flex-flow: column wrap;
    justify-content: center;
    max-width: 250px;
}

.card-subtext {
    margin-top: 15px;
    color: #262f3b;
}

.quote-section {
    flex-flow: column wrap;
    background-color: #E5E7Eb;
    justify-content: center;
    align-items: center;
    padding: 125px;

}

.quote-container {
    flex-flow: column wrap;
    gap: 25px;
    padding: 50px;
}

.quote-author {
    align-self: flex-end;
}

.sign-up-section {
    justify-content: space-between;
    align-items: center;
    margin: 80px 120px;
    padding: 50px;
    border-radius: 8px;
}

.sign-up-text-container {
    flex-flow: column wrap;
    gap: 10px;
}

.sign-up-subtext {
    size: 18px;
}

#button-sign-up {
    border-style: solid;
    border-color: #f9f9f9;
    max-height: 45px;

}

.footer {
    margin: 0px;
    padding: 50px;
    align-items: center;
    justify-content: center;

}




