* {
    font-family: "Roboto", sans-serif;
    border: 1px solid gold;
}

img {
    object-fit: cover;
    height: 150px;
    width: 150px;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

.container {
    display: flex;
}

.header-container {
    
}

.header-link-container {
    
}

.header-main-container {
    
}

.header-text-container {

}




